
<div class="container info-buttons">
    <div class="row">
      <div class="col s6">
        <a class="z-depth-1 waves-effect waves-light btn white black-text" (click)="showInfo()">CAR INFO</a>
      </div>
      <div class="col s6">
        <a class="z-depth-1 waves-effect waves-light btn right white black-text" (click)="share()">SHARE</a>
      </div>
    </div>
  </div>