.info-buttons{
    bottom: 1rem;
    position: absolute;
    padding: 1rem;
    width: 89%;
}

.btn{
    border-radius: 2rem;
    width: 100%;
    cursor: pointer;
}

.back{
    padding: 20px;
}

.box-bottom {
    background-color: black;
    height: 15rem;
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: -1;
    padding: 1.5rem;
  }
