<main class="main">
  <div class="car-container">
    <div class="center" style="margin-top:10px" *ngIf="!blocked">Engine</div>
    <img #car src="assets/img/car.png" (click)="checkCarClick($event)" width="210px" class="car-image">
    <div class="center door-rotate" *ngIf="!blocked">
      Door</div>
    <div class="center" style="color:white; margin-top:-10px" *ngIf="!blocked">Trunk</div>
  </div>
  <router-outlet></router-outlet>
</main>
