.car-container {
  overflow: hidden;
}

.car-image {
  display: block;
  overflow: hidden;
  padding: inherit;
  margin: auto;
  margin-left: 21%;
  margin-top: -4%;
  transition: all 0.55s cubic-bezier(0, 0, 0.2, 1);
}

.car-image-trunk {
  margin-top: -20rem;
}

.car-image-engine {
  margin-top: 20rem;
}

.car-image-info {
  margin-top: 4%;
  margin-left: 17rem
}

.car-image-door {
  margin-top: 3%;
  margin-left: 17rem
}

.car-image-share {
  margin-left: -9rem;
  margin-top: 1rem;
}

.box-bottom {
  background-color: black;
  height: 15rem;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: -1;
  padding: 1.0rem;
}

hr {
  width: 30px;
  float: left;
  border: 2px solid;
}

.info-data {
  margin-top: 35px;
  margin-left: -40px;
}

.info-buttons {
  bottom: 1rem;
  position: absolute;
  padding: 1rem;
}

.btn {
  border-radius: 2rem;
  width: 11rem;
  cursor: pointer;
}

.back {
  padding: 20px;
}

.door-rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  margin-top: -53%;
  margin-left: 4rem;
}