<div class="row center">
  <a class="btn-floating btn-large white waves-effect waves-dark darken-2 engine-button" (click)="engineAction()">
    <h5>{{text_button}}</h5>
  </a>
  <div class="spinner-container" style="margin-top: -48.5rem;" *ngIf="show_spinner">
    <div class="spinner"></div>
  </div>
</div>
<div class="back">
  <img src="assets/img/back_up.png" height="50px" (click)="backToBasic()">
</div>
<div class="box-bottom">
  
</div>
