.box-bottom {
  background-color: black;
  height: 15rem;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: -1;
  padding: 1.5rem;
}

.engine-button {
  margin-top: -85rem;;
  color: black;
  width: 10rem;
  height: 10rem;
  padding-top: 2rem;
}

.back{
  margin-top: -24rem;
  margin-left: 2rem;
}

.spinner-container {
	text-align: center;
}

.spinner {
	top: 50%;
	left: 50%;
	display: inline-block;
	height: 150px;
	width: 150px;
	-webkit-animation: rotation .6s infinite linear;
	   -moz-animation: rotation .6s infinite linear;
		 -o-animation: rotation .6s infinite linear;
			animation: rotation .6s infinite linear;
	border: 6px solid #64ffda;
	border-top: 6px solid white;
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(359deg);}
}

@-ms-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to   {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}