hr {
  width: 30px;
  float: left;
  border: 2px solid;
}

.box-bottom {
  height: 15rem;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: -1;
  padding: 1.5rem;
}


.back {
  margin-top: 7rem;
  margin-left: 0rem;
  filter: invert(1);
}

h5 {
  font-size: 1.24rem;
}

.contact-button{
  border-color: black;
  border: 2px solid;
}
.btn{
  border-radius: 2rem;
  width: 100%;
  cursor: pointer;
}
