<div style="position: absolute; margin-top: -31rem;margin-left: 5rem;overflow: hidden;">
  <div style="padding: 15px">
    <h4>Share Key</h4>
    <hr>
    <br>
    <div class="row" style="margin-top: 0 rem; margin-bottom: 0px; margin-left: -1rem;" *ngFor="let friend of friendsList">
      <div class="col s3" style="margin-top: 1rem;">
        <img [attr.src]="friend.image" width="40px">
      </div>
      <div class="col s7">
        <h5>{{friend.name}}</h5>
        <p style="margin-top:-5px; font-size: 0.8rem;">{{friend.subtitle}}</p>
      </div>
      <div class="col s1">
        <i class="material-icons" style="margin-top: 1rem;" *ngIf="friend.key_state">vpn_key</i>
        <i class="material-icons" style="margin-top: 1rem; color:#64ffda" *ngIf="!friend.key_state">vpn_key</i>
      </div>
    </div>
    <br>
    <div class="row">
      <a class="z-depth-0 waves-effect waves-light btn white black-text contact-button">
        <i class="material-icons left">add</i>
        <p style="margin-top: -0.1rem;">CONTACT</p>
      </a>
    </div>

  </div>
</div>
<div class="box-bottom">
  <div class="back">
    <img src="assets/img/back.png" width="50px" (click)="backToBasic()">
  </div>
</div>
