.box-bottom {
    background-color: black;
    height: 15rem;
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: -1;
    padding: 1.5rem;
  }

  .info-buttons{
    bottom: 1rem;
    position: absolute;
    padding: 1rem;
}

.btn{
    border-radius: 2rem;
    width: 11rem;
    cursor: pointer;
}

.doorVertical {
  height: 1rem;
  border-bottom: 1px solid;
  border-color: rgb(206, 206, 206);
  margin-top: 0.7rem;
}

.icon-setting {
  color: black;
  font-size: 2rem;
}

.white-icon {
  color: white;
}