<div style="position: absolute; margin-top: 4rem; width: 100%;">
  <div class="row" style="margin-left: 3rem; margin-right: 3rem;">
    <div class="col s2">
      <a class="btn-floating btn-large white waves-effect waves-light darken-2" (click)="lock=false" *ngIf="lock">
        <i class="material-icons icon-setting">lock_open</i>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light teal accent-2" (click)="lock=false" *ngIf="!lock">
        <i class="material-icons icon-setting white-text">lock_open</i>
      </a>
    </div>
    <div class="col s8 doorVertical">
      <p style="text-align: center;" *ngIf="lock">Unlock Trunk</p>
      <p style="text-align: center;" *ngIf="!lock">Lock Trunk</p>
    </div>
    <div class="col s2" style="margin-left: -10px;">
      <a class="btn-floating btn-large waves-effect waves-light teal accent-2" (click)="lock=true" *ngIf="lock">
        <i class="material-icons icon-setting white-icon">lock</i>
      </a>
      <a class="btn-floating btn-large white waves-effect waves-light darken-2" (click)="lock=true" *ngIf="!lock">
        <i class="material-icons icon-setting black-text">lock</i>
      </a>
    </div>
  </div>
</div>
<div class="box-bottom">
  <back></back>
  <div class="back">
    <img src="assets/img/back_down.png" height="50px" (click)="backToBasic()">
  </div>
</div>
