.box-bottom {
  background-color: black;
  height: 15rem;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: -1;
  padding: 1.5rem;
}

.doorVertical {
  height: 9rem;
  border-left: 1px solid;
  border-color: rgb(206, 206, 206);
  margin-left: 2.7rem !important;
}

.icon-setting {
  color: black;
  font-size: 2rem;
}

.white-icon {
  color: white;
}

hr {
  width: 30px;
  float: left;
  border: 2px solid;
}

.header-container {
  position: absolute;
  margin-top: -45rem;
  padding: 20px;
}

.info-buttons{
    bottom: 1rem;
    position: absolute;
    padding: 1rem;
}

.btn{
    border-radius: 2rem;
    width: 11rem;
    cursor: pointer;
}

.back{
  margin-top: -2rem;
  margin-left: 2rem;
}