<div style="position: absolute; margin-top: -27rem;margin-left: 6rem;overflow: hidden;">
  <div class="row">
    <div class="col s12">
      <a class="btn-floating btn-large white waves-effect waves-light darken-2" (click)="lock=false" *ngIf="lock">
        <i class="material-icons icon-setting">lock_open</i>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light teal accent-2" (click)="lock=false" *ngIf="!lock">
            <i class="material-icons icon-setting white-text">lock_open</i>
          </a>
    </div>
    <div class="col s12 doorVertical">
        <p style="transform: rotateX(90);" *ngIf="lock">Unlock Doors</p>
        <p style="transform: rotateX(90);" *ngIf="!lock">Lock Doors</p>
    </div>
    <div class="col s12">
      <a class="btn-floating btn-large waves-effect waves-light teal accent-2" (click)="lock=true" *ngIf="lock">
        <i class="material-icons icon-setting white-icon">lock</i>
      </a>
      <a class="btn-floating btn-large white waves-effect waves-light darken-2" (click)="lock=true" *ngIf="!lock">
            <i class="material-icons icon-setting black-text">lock</i>
          </a>
    </div>
  </div>
</div>
<div class="back">
  <img src="assets/img/back.png" width="50px" (click)="backToBasic()">
</div>
<div class="box-bottom">
  <back></back>
</div>
