<div class="" *ngIf="mobile">
  <router-outlet></router-outlet>
</div>


<div class="row text-box-key" *ngIf="!mobile">
  <div class="col l6 valign-wrapper">
    <div class="row" style="padding: 5rem;">
      <div class="col l12 white-text">
        <h3 style="width:100%">Key as a Service</h3>
      </div>
      <div class="col l12 white-text">
        Demo Application (optimized for mobile use case)
        <br><br>
        Find screen overview <a target="_blank" href="https://s3.eu-central-1.amazonaws.com/markusshare/kaas/assets/img/redesign.png">here</a>
        <br><br><br>
        Made with ❤ in Regensburg
        <br>
        by Markus Guder
      </div>
    </div>
  </div>
  <div class="col l6" style="height: 100vh">
    <img src="assets/img/background.png" class="mockup">  
    <div class="desktop-view">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
