body, html {
    height: 100%;
    margin: 0;
}

.desktop-view{
    width: 345px;
    height: 607px;
    position: absolute;
    margin-top: 16.3rem;
    margin-left: 19rem;
    z-index: 99;
}
.mockup{
    width: 66rem;
    position: absolute;
    margin-left: -27px;
    margin-top: 4.3rem;
}

.text-box-key{
    height: 100vh;
    background-color: black;
    background-image: -webkit-linear-gradient( -35deg, black 0%, black 32%, #ffffff 25%, #ffffff 100%)

}