<div style="position: absolute; margin-top: -31rem;margin-left: 0rem;overflow: hidden;">
  <div class="container" style="padding: 15px">
    <h4>Summary</h4>
    <hr>
    <div class="row info-data" style="float: left">
      <div class="col s12">
        <div class="row" style="margin-bottom: 10px;" *ngFor="let info of info_data">
          <div class="col l2">
            <i class="material-icons" style="font-size: 2rem; margin-top: 7px;">{{info.icon}}</i>
          </div>
          <div class="col l10">
            {{info.name}}
            <h5 style="margin-top: -5px">{{info.status}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="back">
  <img src="assets/img/back.png" width="50px" (click)="backToBasic()">
</div>
<div class="box-bottom">
  <back></back>
</div>
